.footer {
  align-items: center;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 1px;
  text-align: center;

  .error {
    color: red;
  }

  .success {
    color: green;
  }
}
