.titleContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 20px;

  .title {
    align-self: center;

    h2 {
      margin: 0;
    }
  }

  .buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .delete {
      background-color: red;
    }
  }
}

.listContainer {
  align-items: center;
  background-color: #000;
  display: grid;
  font-size: 0.8rem;
  grid-gap: 1px;
  grid-template-columns: 2fr 3fr 1fr 5fr 1fr 1fr;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 1px;

  div {
    background-color: #fff;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(6n + 1) {
      background-color: #2c73b7;
      color: #fff;
      font-weight: bold;
      text-align: center;
    }

    p {
      line-height: 2rem;
      margin: 0;
    }
  }

  .delete {
    background-color: red;
  }

  .update {
    background-color: green;
  }
}
