body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #2c73b7;
  border-radius: 5px;
  color: #fff;
  outline: none;
  padding: 10px 5px;
}

label {
  color: #2c73b7;
  font-size: 1rem;
  font-weight: bold;
}

.container {
  margin: 10px auto;
  max-width: 900px;
  padding: 10px;
}
