.container {
  align-items: center;
  background-color: #000;
  display: grid;
  font-size: 0.8rem;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 1px;

  div {
    background-color: #fff;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;

    p {
      line-height: 2rem;
      margin: 0;
      text-align: center;
    }

    &:nth-child(odd) {
      background-color: #2c73b7;
      color: #fff;
      font-weight: bold;
    }
  }
}
