.titleContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-bottom: 20px;

  .title {
    align-self: center;

    h2 {
      margin: 0;
      text-align: center;
    }
  }
}

.calendarContainer {
  background-color: #000;
  display: grid;
  font-size: 0.8rem;
  font-weight: bold;
  grid-gap: 1px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin-bottom: 20px;
  overflow: hidden;
  padding: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;

  .header {
    background-color: #2c73b7;
    color: #fff;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .day {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    height: 3rem;
    padding: 5px;

    p {
      margin: 0;
    }
  }

  .isWeekend {
    background-color: #f2f2f2;
    color: #2c73b7;
  }

  .daySelected {
    background-color: #2c73b7;
    color: #fff;
    cursor: auto;
  }

  .dayDisabled {
    @extend .day;

    color: #c0c0c0;
    cursor: auto;
  }
}
