.customTextArea {
  border-color: #2c73b7;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 1.2;
  margin-bottom: 10px;
  outline: none;
  padding: 5px;
  resize: none;
  width: 100%;
}
